body {
    margin: 0
}

/* Nav Bar */

.menu {
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    padding: 2px;
}

.logo img {
    width: 35px;
}

.menu > .item {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    border-top: solid 1px rgba(0,0,0,0.05);
}

.menu > .item > input {
    width: 50%;
}

/* Make the Nav Bar horizontal and stretched across for Larger Screens */

@media screen and (min-width: 520px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu > .item {
        flex-grow: 1;
      }
    
      .menu > .search {
         flex-grow: 2; 
      }
    
      .menu > .item > input {
        width: 90%;
      }
    
      .menu > .name {
        flex-grow: 0; 
      }
    
      .menu > .logo {
        flex-grow: 0;
      }
}